div.ICanHasACalendarWidgetListEventsData {
  border: 1px solid black;
  padding: 0;
  margin: 0;
  background: white;
  font-family: arial, sans;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div.ICanHasACalendarWidgetListEventsData div,
div.ICanHasACalendarWidgetListEventsData span,
div.ICanHasACalendarWidgetListEventsData p,
div.ICanHasACalendarWidgetListEventsData a,
div.ICanHasACalendarWidgetListEventsData ol,
div.ICanHasACalendarWidgetListEventsData ul,
div.ICanHasACalendarWidgetListEventsData li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}
div.ICanHasACalendarWidgetListEventsData ol,
div.ICanHasACalendarWidgetListEventsData ul {
  list-style: none;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsHeader {
  color: white;
  font-size: 14pt;
  background: #2f569b;
  text-align: center;
  padding: 5px;
  margin: 0;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsHeader a:link {
  color: white;
  text-decoration: none;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsHeader a:visited {
  color: white;
  text-decoration: none;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsHeader a:active {
  color: white;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsHeader a:hover {
  color: white;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEventNone {
  color: black;
  font-size: 12pt;
  font-style: italic;
  padding: 5px;
  margin: 0;
  background: white;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent {
  padding: 5px;
  margin: 0 0 10px 0;
  background: white;
  color: black;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent a:link {
  color: blue;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent a:visited {
  color: blue;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent a:active {
  color: red;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent a:hover {
  color: red;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent div.ICanHasACalendarWidgetListEventsDate {
  color: white;
  font-size: 14pt;
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  background: #231f20;
  padding: 4px;
  margin: 4px 10px 4px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent div.ICanHasACalendarWidgetListEventsSummary {
  color: black;
  font-size: 14pt;
  padding: 0 0 4px 0;
  margin: 0;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent div.ICanHasACalendarWidgetListEventsDescription {
  color: black;
  font-size: 12pt;
  padding: 0;
  margin: 0;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent div.ICanHasACalendarWidgetListEventsAddress {
  color: black;
  font-size: 12pt;
  font-style: italic;
  padding: 0;
  margin: 0;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent div.ICanHasACalendarWidgetListEventsMoreLink {
  color: black;
  font-size: 12pt;
  padding: 0;
  margin: 0;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsEvent div.ICanHasACalendarWidgetListEventsClear {
  padding: 0;
  margin: 0;
  clear: both;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsFooter {
  color: white;
  font-size: 10pt;
  font-style: italic;
  background: #2f569b;
  text-align: center;
  padding: 5px;
  margin: 0;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsFooter a:link {
  color: white;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsFooter a:visited {
  color: white;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsFooter a:active {
  color: white;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsFooter a:hover {
  color: white;
  text-decoration: underline;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsFooter div.ICanHasACalendarWidgetFooterMore {
  background: #2f569b;
}
div.ICanHasACalendarWidgetListEventsData div.ICanHasACalendarWidgetListEventsFooter div.ICanHasACalendarWidgetFooterCredit {
  background: #2f569b;
}
